global
   maxconn 20000
defaults
        maxconn 20000
	log	global
	mode	tcp
        timeout connect 5000
        timeout client  50000
        timeout server  50000

frontend kubernetes-frontend
    bind 192.168.101.105:6443
    #this is loadbalancer ip, change it with yours
    mode tcp
    option tcplog
    default_backend kubernetes-backend

backend kubernetes-backend
    mode tcp
    option tcp-check
    balance roundrobin
    server master1 192.168.101.102:6443 check fall 3 rise 2
   #this is master host and ip, change it with yours
   # server k8s-dev-master2 172.16.16.211:6443 check fall 3 rise 2

listen stats
mode http
bind *:5000
stats enable