---
- name: Generate and Execute Master Join Token
  hosts: master[0]
  gather_facts: false
  become: true

  tasks:
    - name: Generate Master Join Token
      command: kubeadm token create --print-join-command
      register: master_join_token

    - name: Set fact for Master Join Token
      set_fact:
        master_join_command: "{{ master_join_token.stdout_lines[0] }}"

- name: Execute Master Join Command on Masternodes
  hosts: master[1:]
  become: true
  become_user: root
  tasks:
    - name: Join Master Node to Cluster
      command: "{{ hostvars[groups['master'][0]]['master_join_command'] }}"
